@font-face {
  font-family: DIN Regular Alternate;
  src: url(../fonts/DINRegularAlternate.ttf);
}


body {
  margin: 0px;
  #borderedImage {
    background-image: url("../images/forward.png");
    height: 500px;
    width: 100%;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  #bordered {
    border: 1px solid red;
    height: 50%;
    max-height: 500px;
  }
  .overHeadLine {
    border: 6px solid yellow;
    width: 15%;
  }
  .textRun {
    font-weight: bolder;
    font-size: 6em;
  }
  .card {
    /* Add shadows to create the "card" effect */
    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      .truncateIfNeeded{
        overflow: visible;
        white-space: normal;
        -ms-word-break: break-all;
        word-break: break-all;
      }
      .likeDislike {
        display: inline-block;
        float: right;
        padding-right: 4px;
      }
    }
  }
  .container {
    padding: 2px 16px;
    overflow: hidden;
  }
  ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
    li {
      display: inline;
      font-size: 18px;
      a {
        color: #0275d8;
        text-decoration: none;
      }
      &:hover {
        color: #01447e;
        text-decoration: underline;
      }
      + li:before {
        padding: 8px;
        color: black;
        content: "/\00a0";
      }
    }
  }
  .likeDislike {
    display: none;
    .glyphicon {
      color: red;
      font-size: 18px;
    }
  }
}

.oldStrike {
  text-decoration: line-through;
  font-size: 12px !important;
  display: inline-block;
}

.basicStyle {
  font-size: 18px;
}

.newValueStyles {
  color: red;
  display: inline-block;
  padding-right: 8px;
}

.rightArea {
  float: right;
  padding-right: 30px;
}

.marginSet {
  margin-top: 50px;
}
.truncateIfNeeded{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}